@keyframes spin {
  from {
    transform-origin: center;
    transform: rotate(0deg);
  }

  to {
    transform-origin: center;
    transform: rotate(360deg);
  }
}

@keyframes zoom {
  from {
    transform: scale(0.8)
  }
  to {
    transform: scale(1)
  }
}