$colors: (
        main: (
                white: #ffffff,
                black: #000000,

                grey-10: #212121,
                grey-30: #424242,
                grey-40: #757575,
                grey-60: #9e9e9e,
                grey-70: #bdbdbd,
                grey-80: #fafafa,

                bg: #e1e1e1,
                dark: #29434e,
                light: #819ca9,
                primary: #546e7a,
                text: #000000
        )
);

@function colors($scope, $color) {
  @return map-get(map-get($colors, $scope), $color);
}