// Rhythm of 4px
$gib-rhythm-base: 4px;

$gib-padding-xs: $gib-rhythm-base / 2;
$gib-padding-s: $gib-rhythm-base;
$gib-padding-m: $gib-rhythm-base * 2;
$gib-padding-l: $gib-rhythm-base * 4;
$gib-padding-xl: $gib-rhythm-base * 8;

$gib-spinner-size: 40px;