// Follow BEM methodology, see: https://en.bem.info/methodology/
// Why? - Makes everything a lot tighter and more connected, making code easier to maintain
// General form: .block{__element[--modifier]}
// .block {}
// .block__element {}
// .block--modifier {}
// Useful links:
// Modified BEM - http://csswizardry.com/2013/01/mindbemding-getting-your-head-round-bem-syntax/
// https://en.bem.info/methodology/naming-convention/#alternative-naming-schemes
@import "animation";
@import "colors";
@import "layout";
@import "mixins";
@import "vars";

.google-image-browser {
  align-items: center;
  background-color: colors(main, white);
  color: colors(main, grey-10);
  display: flex;
  flex-flow: column nowrap;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 12px;
  height: 100%;
  overflow: hidden;
  outline: 0;
  position: relative;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  white-space: normal;

  a {
    color: colors(main, dark);

    &:visited {
      color: colors(main, dark);
    }
    &:hover {
      color: colors(main, primary);
    }
    &:active {
      color: colors(main, primary);
    }
  }

  // Reset
  div, embed, canvas, hr, i, img, label, li, object, ol, p, span, strike, strong {
    @include no-padding;
    background: transparent;
    box-sizing: content-box;
    font-size: 100%;
  }

  .search-input {
    background-color: colors(main, light);
    height: 20%;
    width: 100%;

    input {
      background-color: colors(main, grey-80);
      border: 1px solid colors(main, dark);
      color: colors(main, primary);
      font-size: 2em;
      margin: $gib-padding-xl 25%;
      outline: none;
      padding: $gib-padding-m;
      width: 50%;

      box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
      transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);

      &:focus {
        border: 1px solid colors(main, light);
      }

      &:HOVER {
        box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
      }
    }
  }

  .search-result {
    background-color: colors(main, dark);
    height: 100%;
    width: 100%;

    //.images-container {
    //  display: flex;
    //  flex-flow: row wrap;
    //  height: 100%;
    //  justify-content: flex-start;
    //  padding: $gib-padding-s;
    //
    //  &__item {
    //    align-items: center;
    //    background-color: colors(main, black);
    //    display: flex;
    //    flex: 0 1 auto;
    //    margin: $gib-padding-s;
    //    padding: $gib-padding-l $gib-padding-m;
    //
    //    &:hover {
    //      background-color: colors(main, primary);
    //    }
    //
    //    img {
    //      align-items: center;
    //      cursor: pointer;
    //    }
    //  }
    //}

    .images-container {
      padding: $gib-padding-s;

      &__item {
        background-color: colors(main, black);
        display: inline-block;
        margin: $gib-padding-s;
        padding: $gib-padding-l $gib-padding-m;
        text-align: center;
        transition: $gib-animation;

        &:hover {
          background-color: colors(main, primary);
        }

        img {
          cursor: pointer;
          transition: opacity 0.3s;
          vertical-align: middle;
        }
      }
    }
  }

  .light-box {
    display: none;
    height: 100%;
    left: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100%;

    .wrapper {
      align-items: center;
      align-content: center;
      bottom: 0;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }

    &__control {
      background-color: colors(main, black);
      align-items: center;
      display: flex;
      flex: 1 0 auto;
      flex-flow: column nowrap;
      height: 100%;
      justify-content: center;
      max-width: 10%;
      min-width: 100px;
      opacity: 0.8;
      transition: $gib-animation;

      &:hover {
        opacity: 0.9;
      }
    }

    &__content {
      align-items: center;
      background-color: rgba(0, 0, 0, 0.8);
      display: flex;
      flex: 1 1 auto;
      flex-flow: column nowrap;
      height: 100%;
      justify-content: center;
      max-width: 80%;
      overflow: auto;
      text-align: center;
    }

    .image-container {
      animation-duration: 0.6s;
      animation-name: zoom;
      overflow: hidden;

      img {
        height: 100%;
        width: 100%;
      }
    }

    &__title {
      color: colors(main, light);
      text-align: center;
      padding: 10px 0;
    }
  }

  .spinner-layer {
    align-items: center;
    animation: spin 1s infinite linear;
    bottom: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    left: 0;
    pointer-events: none;
    position: relative;
    right: 0;
    top: 0;

    svg {
      width: 68px;
      height: 68px;
    }
  }
}
